In [1]:
#importando la librería
import pandas as pd
import requests

In [9]:
#dirección en donde se encuntra la tabla
url ='https://smn.conagua.gob.mx/tools/RESOURCES/com_archivo_datos_resumenes/201901010000Lluv.csv'

In [11]:
#leer la tabla y guardarla en df
df = pd.read_csv(url, encoding='latin')

In [12]:
#solo ver la parte superior de la tabla
df.head()

          LON        LAT  EDO CLAVE_SIH                       NOMBRE    ENE
0 -102.309722  21.895000  AGS     AGSAG         Aguascalientes, Ags.   6.61
1 -102.466944  22.188611  AGS     ANVAG  Cincuenta Aniversario, Ags.  10.60
2 -102.184167  21.738611  AGS     BRTAG            San Bartolo, Ags.  10.50
3 -102.712222  21.849167  AGS  CALVILLO          Calvillo, Ags. SMN*  18.17
4 -102.676944  21.997500  AGS     CDRAG            La Codorniz, Ags.  16.70

In [13]:
#Ver los datos que se encuntran en la parte inferior
df.tail()

             LON        LAT  EDO CLAVE_SIH                       NOMBRE    ENE
1236 -102.344167  23.288611  ZAC     VCOZC           Villa de Cos, Zac.   7.00
1237 -101.916944  22.520278  ZAC     VGOZC  Villa González Ortega, Zac.  32.32
1238 -101.715833  22.347500  ZAC     VHGZC          Villa Hidalgo, Zac.   9.70
1239 -103.337500  21.588889  ZAC     VILZC     José María Morelos, Zac.  15.20
1240 -102.576667  22.761389  ZAC     ZACZC              Zacatecas, Zac.  12.02

In [14]:
#Conocer el directorio donde se esta trabajando
pwd

'/Users/joseramirezrodriguez/Documents/Laboratorio/dcida2020ii-JJRamirezR/Sep4'

In [17]:
#Revisar cuales son los índices de las columnas
df.index

RangeIndex(start=0, stop=1241, step=1)

In [20]:
#crear el nombre del archivo
nombre = 'lluvia_2019.csv'

In [22]:
#guardar el archivo
df.to_csv(nombre)

In [23]:
#leer el archivo que ya tengo guardado, como el archivo se encuentra en el directorio
#de trabajo del programa, no es necesario especificarle la ruta.
df2=pd.read_csv('lluvia_2019.csv')

In [24]:
df2.head()

,Unnamed: 0,LON,LAT,EDO,CLAVE_SIH,NOMBRE,ENE
0,0,-102.309722,21.895000,AGS,AGSAG,"Aguascalientes, Ags.",6.61
1,1,-102.466944,22.188611,AGS,ANVAG,"Cincuenta Aniversario, Ags.",10.60
2,2,-102.184167,21.738611,AGS,BRTAG,"San Bartolo, Ags.",10.50
3,3,-102.712222,21.849167,AGS,CALVILLO,"Calvillo, Ags. SMN*",18.17
4,4,-102.676944,21.997500,AGS,CDRAG,"La Codorniz, Ags.",16.70

# Cargar tabla que este en formato html

In [5]:
url2='https://www.indexmundi.com/map/?t=0&v=25&r=na&l=en'

In [23]:
html = requests.get(url2).content
df_list =pd.read_html(html, header=0)
#df_list=pd.read_html(html,header=1)

In [26]:
df2=df_list[1]

In [56]:
# Genero un vector con los nombres que voy a cambiar en los encabezados.
cabecera=['País','Tasa','Año']

In [57]:
#Cambio el nombre de los encabezados
df2.columns=cabecera

In [58]:
df2.values

array([['Mexico', 18, 2018],
       ['Greenland', 14, 2018],
       ['United States', 12, 2018],
       ['Canada', 10, 2018]], dtype=object)

In [59]:
df2.index

RangeIndex(start=0, stop=4, step=1)

In [60]:
df2

            País  Tasa   Año
0         Mexico    18  2018
1      Greenland    14  2018
2  United States    12  2018
3         Canada    10  2018

In [61]:
df2['Año']

0    2018
1    2018
2    2018
3    2018
Name: Año, dtype: int64

In [62]:
df2.columns

Index(['País', 'Tasa', 'Año'], dtype='object')

In [63]:
df2.T

           0          1              2       3
País  Mexico  Greenland  United States  Canada
Tasa      18         14             12      10
Año     2018       2018           2018    2018

In [65]:
df2.loc[df2.Tasa > 12,['País','Tasa']]

        País  Tasa
0     Mexico    18
1  Greenland    14

In [68]:
df2[df2.Tasa < 12]

     País  Tasa   Año
3  Canada    10  2018

# Diccionarios 
### Tomado del manual

In [35]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [36]:
population['California']

38332521

In [37]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## Series as dictionary

In [49]:
data= pd.Series([0.25, 0.5, 0.75, 1.0],
               index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [50]:
data['b']

0.5

In [51]:
'a' in data

True

In [52]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [53]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [54]:
data['e']=1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

# Manejo de tablas con valores nulos

In [2]:
file='salarios_minimos.csv'
sal=pd.read_csv(file)
sal

,Unnamed: 0,Fecha de publicación el DOF,Vigente a partir de:,ZLFN1,Resto del país,"""A""","""B""","""C"""
0,0,23 de diciembre de 2019,1o. enero 2020,$185.56,$123.22,NaN,NaN,NaN
1,1,26 de diciembre de 2018,1o. enero 2019,$176.72,$102.68,NaN,NaN,NaN
2,2,21 de diciembre de 2017,1o. enero 2018,NaN,NaN,$88.36,NaN,NaN
3,3,24 de noviembre de 2017,1o. diciembre 2017,NaN,NaN,88.36,NaN,NaN
4,4,19 de diciembre de 2016,1o. enero 2017,NaN,NaN,80.04,NaN,NaN
5,5,18 de diciembre de 2015,1o. enero 2016,NaN,NaN,73.04,NaN,NaN
6,6,30 de septiembre de 2015,1o. octubre de 2015,NaN,NaN,70.10,NaN,NaN
7,7,30 de marzo de 2015,1o. abril 2015,NaN,NaN,70.10,68.28,NaN
8,8,29 de diciembre de 2014,1o. enero 2015,NaN,NaN,70.10,66.45,NaN
9,9,26 de diciembre de 2013,1o. enero 2014,NaN,NaN,67.29,63.77,NaN
10,10,21 de diciembre de 2012,1o. enero 2013,NaN,NaN,64.76,61.38,NaN
11,11,26 de noviembre de 2012,27 de noviembre 2012,NaN,NaN,62.33,59.08,N/A 2
12,12,19 de diciembre de 2011,1o. enero 2012,NaN,NaN,62.33,60.57,59.08
13,13,23 de diciembre de 2010,1o. enero 2011,NaN,NaN,59.82,58.13,56.70
14,14,23 de diciembre de 2009,1o. enero 2010,NaN,NaN,57.46,55.84,54.47
15,15,23 de diciembre de 2008,1o. enero 2009,NaN,NaN,54.80,53.26,51.95
16,16,27 de diciembre de 2007,1o. enero 2008,NaN,NaN,52.59,50.96,49.50
17,17,29 de diciembre de 2006,1o. enero 2007,NaN,NaN,50.57,49.00,47.60
18,18,26 de diciembre de 2005,1o. enero 2006,NaN,NaN,48.67,47.16,45.81
19,19,22 de diciembre de 2004,1° enero 2005,NaN,NaN,46.80,45.35,44.05
20,20,23 de diciembre de 2003,1º. enero 2004,NaN,NaN,45.24,43.73,42.11
21,21,26 de diciembre de 2002,1º. enero 2003,NaN,NaN,43.65,41.85,40.30
22,22,29 de diciembre de 2001,1º. enero 2002,NaN,NaN,42.15,40.10,38.30
23,23,27 de diciembre de 2000,1º. enero 2001,NaN,NaN,40.35,37.95,35.85
24,24,31 de diciembre de 1999,1º. enero 2000,NaN,NaN,37.90,35.10,32.70
25,25,2 de diciembre de 1998,1o. enero 1999,NaN,NaN,34.45,31.90,29.70
26,26,23 de diciembre de 1997,1o. enero 1998,NaN,NaN,30.20,28.00,26.00
27,27,2 de diciembre de 1996,1o. enero 1997,NaN,NaN,26.45,24.50,22.50
28,28,2 de diciembre de 1996,3 de diciembre 1996,NaN,NaN,26.45,24.50,22.50
29,29,28 de marzo de 1996,1o. abril 1996,NaN,NaN,22.60,20.95,19.05
30,30,2 de diciembre de 1995,1o. enero 1996,NaN,NaN,20.15,18.70,17.00
31,31,2 de diciembre 1995,4 de diciembre 1995,NaN,NaN,20.15,18.70,17.00
32,32,31 de marzo 1995,1o. abril 1995,NaN,NaN,18.30,17.00,15.44
33,33,21 de diciembre 1994,1o. enero 1995,NaN,NaN,16.34,15.18,13.79
34,34,13 de diciembre 1993,1o. enero 1994,NaN,NaN,15.27,14.19,12.89
35,35,7 de diciembre 1992,1o. enero 1993,NaN,NaN,N$ 14.27,N$ 13.26,N$ 12.05
36,36,4 de diciembre 1991,1o. enero 1992,NaN,NaN,13330.00,12320.00,11115.00
37,37,11 de noviembre 1991,11 de noviembre 1991,NaN,NaN,13330.00,12320.00,11115.00
38,38,24 de diciembre 1990,1o. enero 1991,NaN,NaN,11900.00,11000.00,9920.00
39,39,15 de noviembre 1990,16 de noviembre 1990,NaN,NaN,11900.00,11000.00,9920.00
40,40,4 de diciembre 1989,1o. enero 1990,NaN,NaN,10080.00,9325.00,8405.00
41,41,4 de diciembre 1989,4 de diciembre 1989,NaN,NaN,10080.00,9325.00,8405.00
42,42,26 de junio de 1989,1o. julio 1989,NaN,NaN,9160.00,8475.00,7640.00
43,43,14 de diciembre 1988,1o. enero 1989,NaN,NaN,8640.00,7995.00,7205.00
44,44,29 de febrero 1988,1o. marzo 1988,NaN,NaN,8000.00,7405.00,6670.00

In [3]:
#conocer el nombre de las columnas
sal.columns

Index(['Unnamed: 0', 'Fecha de publicación el DOF', 'Vigente a partir de:',
       'ZLFN1', 'Resto del país', '"A"', '"B"', '"C"'],
      dtype='object')

In [9]:
# Checar cuales valores son nulos en una cierta columna
#Para una columna en particular
#sal['"B"'].isnull()

#Para todo el DataFrame
sal.isnull()

,Unnamed: 0,Fecha de publicación el DOF,Vigente a partir de:,ZLFN1,Resto del país,"""A""","""B""","""C"""
0,False,False,False,False,False,True,True,True
1,False,False,False,False,False,True,True,True
2,False,False,False,True,True,False,True,True
3,False,False,False,True,True,False,True,True
4,False,False,False,True,True,False,True,True
5,False,False,False,True,True,False,True,True
6,False,False,False,True,True,False,True,True
7,False,False,False,True,True,False,False,True
8,False,False,False,True,True,False,False,True
9,False,False,False,True,True,False,False,True
10,False,False,False,True,True,False,False,True
11,False,False,False,True,True,False,False,False
12,False,False,False,True,True,False,False,False
13,False,False,False,True,True,False,False,False
14,False,False,False,True,True,False,False,False
15,False,False,False,True,True,False,False,False
16,False,False,False,True,True,False,False,False
17,False,False,False,True,True,False,False,False
18,False,False,False,True,True,False,False,False
19,False,False,False,True,True,False,False,False
20,False,False,False,True,True,False,False,False
21,False,False,False,True,True,False,False,False
22,False,False,False,True,True,False,False,False
23,False,False,False,True,True,False,False,False
24,False,False,False,True,True,False,False,False
25,False,False,False,True,True,False,False,False
26,False,False,False,True,True,False,False,False
27,False,False,False,True,True,False,False,False
28,False,False,False,True,True,False,False,False
29,False,False,False,True,True,False,False,False
30,False,False,False,True,True,False,False,False
31,False,False,False,True,True,False,False,False
32,False,False,False,True,True,False,False,False
33,False,False,False,True,True,False,False,False
34,False,False,False,True,True,False,False,False
35,False,False,False,True,True,False,False,False
36,False,False,False,True,True,False,False,False
37,False,False,False,True,True,False,False,False
38,False,False,False,True,True,False,False,False
39,False,False,False,True,True,False,False,False
40,False,False,False,True,True,False,False,False
41,False,False,False,True,True,False,False,False
42,False,False,False,True,True,False,False,False
43,False,False,False,True,True,False,False,False
44,False,False,False,True,True,False,False,False

In [7]:
sal['"B"'].notnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
Name: "B", dtype: bool

In [5]:
#entrgarme una versión de la columna sin los valores null
sal['"B"'].dropna()

7        68.28
8        66.45
9        63.77
10       61.38
11       59.08
12       60.57
13       58.13
14       55.84
15       53.26
16       50.96
17       49.00
18       47.16
19       45.35
20       43.73
21       41.85
22       40.10
23       37.95
24       35.10
25       31.90
26       28.00
27       24.50
28       24.50
29       20.95
30       18.70
31       18.70
32       17.00
33       15.18
34       14.19
35    N$ 13.26
36    12320.00
37    12320.00
38    11000.00
39    11000.00
40     9325.00
41     9325.00
42     8475.00
43     7995.00
44     7405.00
Name: "B", dtype: object

In [8]:
# me va arrojar los renglones que no tengan valores nulos, en este caso particular no hay ninguno 
sal.dropna()

Empty DataFrame
Columns: [Unnamed: 0, Fecha de publicación el DOF, Vigente a partir de:, ZLFN1, Resto del país, "A", "B", "C"]
Index: []

In [10]:
#la misma funcion que la indicación anterior, solo que ahora me arroja las columnas sin valores nulos.
sal.dropna(axis='columns')

    Unnamed: 0 Fecha de publicación el DOF  Vigente a partir de:
0            0     23 de diciembre de 2019        1o. enero 2020
1            1     26 de diciembre de 2018        1o. enero 2019
2            2     21 de diciembre de 2017        1o. enero 2018
3            3     24 de noviembre de 2017    1o. diciembre 2017
4            4     19 de diciembre de 2016        1o. enero 2017
5            5     18 de diciembre de 2015        1o. enero 2016
6            6    30 de septiembre de 2015   1o. octubre de 2015
7            7         30 de marzo de 2015        1o. abril 2015
8            8     29 de diciembre de 2014        1o. enero 2015
9            9     26 de diciembre de 2013        1o. enero 2014
10          10     21 de diciembre de 2012        1o. enero 2013
11          11     26 de noviembre de 2012  27 de noviembre 2012
12          12     19 de diciembre de 2011        1o. enero 2012
13          13     23 de diciembre de 2010        1o. enero 2011
14          14     23 de diciembre de 2009        1o. enero 2010
15          15     23 de diciembre de 2008        1o. enero 2009
16          16     27 de diciembre de 2007        1o. enero 2008
17          17     29 de diciembre de 2006        1o. enero 2007
18          18     26 de diciembre de 2005        1o. enero 2006
19          19     22 de diciembre de 2004         1° enero 2005
20          20     23 de diciembre de 2003        1º. enero 2004
21          21     26 de diciembre de 2002        1º. enero 2003
22          22     29 de diciembre de 2001        1º. enero 2002
23          23     27 de diciembre de 2000        1º. enero 2001
24          24     31 de diciembre de 1999        1º. enero 2000
25          25      2 de diciembre de 1998        1o. enero 1999
26          26     23 de diciembre de 1997        1o. enero 1998
27          27      2 de diciembre de 1996        1o. enero 1997
28          28      2 de diciembre de 1996   3 de diciembre 1996
29          29         28 de marzo de 1996        1o. abril 1996
30          30      2 de diciembre de 1995        1o. enero 1996
31          31         2 de diciembre 1995   4 de diciembre 1995
32          32            31 de marzo 1995        1o. abril 1995
33          33        21 de diciembre 1994        1o. enero 1995
34          34        13 de diciembre 1993        1o. enero 1994
35          35         7 de diciembre 1992        1o. enero 1993
36          36         4 de diciembre 1991        1o. enero 1992
37          37        11 de noviembre 1991  11 de noviembre 1991
38          38        24 de diciembre 1990        1o. enero 1991
39          39        15 de noviembre 1990  16 de noviembre 1990
40          40         4 de diciembre 1989        1o. enero 1990
41          41         4 de diciembre 1989   4 de diciembre 1989
42          42         26 de junio de 1989        1o. julio 1989
43          43        14 de diciembre 1988        1o. enero 1989
44          44          29 de febrero 1988        1o. marzo 1988

In [18]:
#con thresh filtro los valores mínimos de los valores no nulos
sal.dropna(axis='columns',thresh=3)

,Unnamed: 0,Fecha de publicación el DOF,Vigente a partir de:,"""A""","""B""","""C"""
0,0,23 de diciembre de 2019,1o. enero 2020,NaN,NaN,NaN
1,1,26 de diciembre de 2018,1o. enero 2019,NaN,NaN,NaN
2,2,21 de diciembre de 2017,1o. enero 2018,$88.36,NaN,NaN
3,3,24 de noviembre de 2017,1o. diciembre 2017,88.36,NaN,NaN
4,4,19 de diciembre de 2016,1o. enero 2017,80.04,NaN,NaN
5,5,18 de diciembre de 2015,1o. enero 2016,73.04,NaN,NaN
6,6,30 de septiembre de 2015,1o. octubre de 2015,70.10,NaN,NaN
7,7,30 de marzo de 2015,1o. abril 2015,70.10,68.28,NaN
8,8,29 de diciembre de 2014,1o. enero 2015,70.10,66.45,NaN
9,9,26 de diciembre de 2013,1o. enero 2014,67.29,63.77,NaN
10,10,21 de diciembre de 2012,1o. enero 2013,64.76,61.38,NaN
11,11,26 de noviembre de 2012,27 de noviembre 2012,62.33,59.08,N/A 2
12,12,19 de diciembre de 2011,1o. enero 2012,62.33,60.57,59.08
13,13,23 de diciembre de 2010,1o. enero 2011,59.82,58.13,56.70
14,14,23 de diciembre de 2009,1o. enero 2010,57.46,55.84,54.47
15,15,23 de diciembre de 2008,1o. enero 2009,54.80,53.26,51.95
16,16,27 de diciembre de 2007,1o. enero 2008,52.59,50.96,49.50
17,17,29 de diciembre de 2006,1o. enero 2007,50.57,49.00,47.60
18,18,26 de diciembre de 2005,1o. enero 2006,48.67,47.16,45.81
19,19,22 de diciembre de 2004,1° enero 2005,46.80,45.35,44.05
20,20,23 de diciembre de 2003,1º. enero 2004,45.24,43.73,42.11
21,21,26 de diciembre de 2002,1º. enero 2003,43.65,41.85,40.30
22,22,29 de diciembre de 2001,1º. enero 2002,42.15,40.10,38.30
23,23,27 de diciembre de 2000,1º. enero 2001,40.35,37.95,35.85
24,24,31 de diciembre de 1999,1º. enero 2000,37.90,35.10,32.70
25,25,2 de diciembre de 1998,1o. enero 1999,34.45,31.90,29.70
26,26,23 de diciembre de 1997,1o. enero 1998,30.20,28.00,26.00
27,27,2 de diciembre de 1996,1o. enero 1997,26.45,24.50,22.50
28,28,2 de diciembre de 1996,3 de diciembre 1996,26.45,24.50,22.50
29,29,28 de marzo de 1996,1o. abril 1996,22.60,20.95,19.05
30,30,2 de diciembre de 1995,1o. enero 1996,20.15,18.70,17.00
31,31,2 de diciembre 1995,4 de diciembre 1995,20.15,18.70,17.00
32,32,31 de marzo 1995,1o. abril 1995,18.30,17.00,15.44
33,33,21 de diciembre 1994,1o. enero 1995,16.34,15.18,13.79
34,34,13 de diciembre 1993,1o. enero 1994,15.27,14.19,12.89
35,35,7 de diciembre 1992,1o. enero 1993,N$ 14.27,N$ 13.26,N$ 12.05
36,36,4 de diciembre 1991,1o. enero 1992,13330.00,12320.00,11115.00
37,37,11 de noviembre 1991,11 de noviembre 1991,13330.00,12320.00,11115.00
38,38,24 de diciembre 1990,1o. enero 1991,11900.00,11000.00,9920.00
39,39,15 de noviembre 1990,16 de noviembre 1990,11900.00,11000.00,9920.00
40,40,4 de diciembre 1989,1o. enero 1990,10080.00,9325.00,8405.00
41,41,4 de diciembre 1989,4 de diciembre 1989,10080.00,9325.00,8405.00
42,42,26 de junio de 1989,1o. julio 1989,9160.00,8475.00,7640.00
43,43,14 de diciembre 1988,1o. enero 1989,8640.00,7995.00,7205.00
44,44,29 de febrero 1988,1o. marzo 1988,8000.00,7405.00,6670.00

In [19]:
#con thresh filtro los valores mínimos de los valores no nulos
sal.dropna(axis='rows',thresh=5)

,Unnamed: 0,Fecha de publicación el DOF,Vigente a partir de:,ZLFN1,Resto del país,"""A""","""B""","""C"""
0,0,23 de diciembre de 2019,1o. enero 2020,$185.56,$123.22,NaN,NaN,NaN
1,1,26 de diciembre de 2018,1o. enero 2019,$176.72,$102.68,NaN,NaN,NaN
7,7,30 de marzo de 2015,1o. abril 2015,NaN,NaN,70.10,68.28,NaN
8,8,29 de diciembre de 2014,1o. enero 2015,NaN,NaN,70.10,66.45,NaN
9,9,26 de diciembre de 2013,1o. enero 2014,NaN,NaN,67.29,63.77,NaN
10,10,21 de diciembre de 2012,1o. enero 2013,NaN,NaN,64.76,61.38,NaN
11,11,26 de noviembre de 2012,27 de noviembre 2012,NaN,NaN,62.33,59.08,N/A 2
12,12,19 de diciembre de 2011,1o. enero 2012,NaN,NaN,62.33,60.57,59.08
13,13,23 de diciembre de 2010,1o. enero 2011,NaN,NaN,59.82,58.13,56.70
14,14,23 de diciembre de 2009,1o. enero 2010,NaN,NaN,57.46,55.84,54.47
15,15,23 de diciembre de 2008,1o. enero 2009,NaN,NaN,54.80,53.26,51.95
16,16,27 de diciembre de 2007,1o. enero 2008,NaN,NaN,52.59,50.96,49.50
17,17,29 de diciembre de 2006,1o. enero 2007,NaN,NaN,50.57,49.00,47.60
18,18,26 de diciembre de 2005,1o. enero 2006,NaN,NaN,48.67,47.16,45.81
19,19,22 de diciembre de 2004,1° enero 2005,NaN,NaN,46.80,45.35,44.05
20,20,23 de diciembre de 2003,1º. enero 2004,NaN,NaN,45.24,43.73,42.11
21,21,26 de diciembre de 2002,1º. enero 2003,NaN,NaN,43.65,41.85,40.30
22,22,29 de diciembre de 2001,1º. enero 2002,NaN,NaN,42.15,40.10,38.30
23,23,27 de diciembre de 2000,1º. enero 2001,NaN,NaN,40.35,37.95,35.85
24,24,31 de diciembre de 1999,1º. enero 2000,NaN,NaN,37.90,35.10,32.70
25,25,2 de diciembre de 1998,1o. enero 1999,NaN,NaN,34.45,31.90,29.70
26,26,23 de diciembre de 1997,1o. enero 1998,NaN,NaN,30.20,28.00,26.00
27,27,2 de diciembre de 1996,1o. enero 1997,NaN,NaN,26.45,24.50,22.50
28,28,2 de diciembre de 1996,3 de diciembre 1996,NaN,NaN,26.45,24.50,22.50
29,29,28 de marzo de 1996,1o. abril 1996,NaN,NaN,22.60,20.95,19.05
30,30,2 de diciembre de 1995,1o. enero 1996,NaN,NaN,20.15,18.70,17.00
31,31,2 de diciembre 1995,4 de diciembre 1995,NaN,NaN,20.15,18.70,17.00
32,32,31 de marzo 1995,1o. abril 1995,NaN,NaN,18.30,17.00,15.44
33,33,21 de diciembre 1994,1o. enero 1995,NaN,NaN,16.34,15.18,13.79
34,34,13 de diciembre 1993,1o. enero 1994,NaN,NaN,15.27,14.19,12.89
35,35,7 de diciembre 1992,1o. enero 1993,NaN,NaN,N$ 14.27,N$ 13.26,N$ 12.05
36,36,4 de diciembre 1991,1o. enero 1992,NaN,NaN,13330.00,12320.00,11115.00
37,37,11 de noviembre 1991,11 de noviembre 1991,NaN,NaN,13330.00,12320.00,11115.00
38,38,24 de diciembre 1990,1o. enero 1991,NaN,NaN,11900.00,11000.00,9920.00
39,39,15 de noviembre 1990,16 de noviembre 1990,NaN,NaN,11900.00,11000.00,9920.00
40,40,4 de diciembre 1989,1o. enero 1990,NaN,NaN,10080.00,9325.00,8405.00
41,41,4 de diciembre 1989,4 de diciembre 1989,NaN,NaN,10080.00,9325.00,8405.00
42,42,26 de junio de 1989,1o. julio 1989,NaN,NaN,9160.00,8475.00,7640.00
43,43,14 de diciembre 1988,1o. enero 1989,NaN,NaN,8640.00,7995.00,7205.00
44,44,29 de febrero 1988,1o. marzo 1988,NaN,NaN,8000.00,7405.00,6670.00