# Estadística Descriptiva

In [1]:
#Librerías
# import numpy as np
import os
import pandas as pd
import requests
import matplotlib.pyplot as plt

In [2]:
# Los diferentes url de la tablas escogidas de la página indexmundi

#North America
urlNA1='https://www.indexmundi.com/map/?t=0&v=69&r=na&l=en'
urlNA2='https://www.indexmundi.com/map/?t=0&v=26&r=na&l=en'
urlNA3='https://www.indexmundi.com/map/?t=0&v=2227&r=na&l=en'
urlNA4='https://www.indexmundi.com/map/?t=0&v=2226&r=na&l=en'
urlNA5='https://www.indexmundi.com/map/?t=0&v=30&r=na&l=en'
#South America
urlSA1='https://www.indexmundi.com/map/?t=0&v=69&r=sa&l=en'
urlSA2='https://www.indexmundi.com/map/?t=0&v=26&r=sa&l=en'
urlSA3='https://www.indexmundi.com/map/?t=0&v=2227&r=sa&l=en'
urlSA4='https://www.indexmundi.com/map/?t=0&v=2226&r=sa&l=en'
urlSA5='https://www.indexmundi.com/map/?t=0&v=30&r=sa&l=en'
#Central America
urlCA1='https://www.indexmundi.com/map/?t=0&v=69&r=ca&l=en'
urlCA2='https://www.indexmundi.com/map/?t=0&v=26&r=ca&l=en'
urlCA3='https://www.indexmundi.com/map/?t=0&v=2227&r=ca&l=en'
urlCA4='https://www.indexmundi.com/map/?t=0&v=2226&r=ca&l=en'
urlCA5='https://www.indexmundi.com/map/?t=0&v=30&r=ca&l=en'

In [3]:
#Función para crear tabla:
def tabla(file,url1,url2,url3,url4,url5):
    if not os.path.isfile(file):
        html1 = requests.get(url1).content
        html2 = requests.get(url2).content
        html3 = requests.get(url3).content
        html4 = requests.get(url4).content
        html5 = requests.get(url5).content
        df_list1 =pd.read_html(html1, header=0)
        df1 = df_list1[1]
        df1=df1.drop(['Year'],axis=1)
        df_list2 =pd.read_html(html2, header=0)
        df2 = df_list2[1]
        df2=df2.drop(['Year'],axis=1)
        df_list3 =pd.read_html(html3, header=0)
        df3 = df_list3[1]
        df3=df3.drop(['Year'],axis=1)
        df_list4 =pd.read_html(html4, header=0)
        df4 = df_list4[1]
        df4=df4.drop(['Year'],axis=1)
        df_list5 =pd.read_html(html5, header=0)
        df5 = df_list5[1]
        df5=df5.drop(['Year'],axis=1)
        df=pd.merge(df1,df2)
        df=pd.merge(df,df3)
        df=pd.merge(df,df4)
        df=pd.merge(df,df5)
        df.to_csv(file)
    else:
        df = pd.read_csv(file)
        df=df.drop(['Unnamed: 0'],axis=1)
    return df

In [4]:
#Archivo con la información de North America
fileNA='NAmerica.csv'
NA=tabla(fileNA,urlNA1,urlNA2,urlNA3,urlNA4,urlNA5)
#Archivo con información de Central America
fileCA='CAmerica.csv'
CA=tabla(fileCA,urlCA1,urlCA2,urlCA3,urlCA4,urlCA5)
#Archivo con información de South America
fileSA='SAmerica.csv'
SA=tabla(fileSA,urlSA1,urlSA2,urlSA3,urlSA4,urlSA5)

In [5]:
#Tabla con todos los valores de America
A=pd.concat([NA,CA,SA])
A.index=range(A.shape[0])
A

,Country,Population below poverty line (%),"Death rate (deaths/1,000 population)","Hospital bed density (beds/1,000 population)","Physicians density (physicians/1,000 population)",Life expectancy at birth (years)
0,Mexico,46,5,2,2,76
1,Greenland,16,9,8,2,73
2,United States,15,8,3,3,80
3,Canada,9,9,3,3,82
4,Guatemala,59,5,1,0,72
5,Haiti,59,8,1,0,65
6,Belize,41,4,1,1,75
7,Grenada,38,8,4,1,75
8,El Salvador,33,6,1,2,75
9,Dominican Republic,31,6,2,2,71
10,Nicaragua,30,5,1,1,74
11,Honduras,30,5,1,0,71
12,Dominica,29,8,4,1,77
13,Panama,23,5,2,2,79
14,Costa Rica,22,5,1,1,79
15,Trinidad and Tobago,20,9,3,3,73
16,Jamaica,17,8,2,1,75
17,"Bahamas, The",9,7,3,2,73
18,Suriname,70,6,3,1,73
19,Bolivia,39,6,1,2,70
20,Guyana,35,7,2,1,69
21,Colombia,28,6,2,2,76
22,Argentina,26,8,5,4,78
23,Peru,23,6,2,1,74
24,Paraguay,22,5,1,1,78
25,Ecuador,22,5,2,2,77
26,Chile,14,6,2,1,79
27,Uruguay,10,9,3,5,78
28,Brazil,4,7,2,2,74